@model CodeNames.WebApp.Models.GameViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Codename</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        @foreach (var card in Model.Cards)
        {
            <div>@card.Word | @card.Color</div>
        }
    </div>
</div>