@{
    ViewBag.Title = "Home Page";
}

<h1>Codenames</h1>


<div class="row">
    <div class="col-md-4">
        <form action="@Url.Action("New", "Game")">
            <h3>Je veux démarrer une nouvelle partie :</h3>
            <p>
                En tant que spymaster, celui qui donnes les indices 
                
                <button type="submit" name="PlayerType" value="SpyMaster" class="btn btn-info">GO</button>
                
            </p>
            <p>
                En tant qu'agent, celui qui découvre les mots
                <button type="submit" name="PlayerType" value="Agent" class="btn btn-info">GO</button>
            </p>
        </form>
        
         <form action="@Url.Action("New", "Game")">
             <h3>Je veux joindre une nouvelle partie :</h3>
             <p>
                 Code de la partie: <input type="text" />
             </p>
            <p>
                En tant que spymaster, celui qui donnes les indices
                <button type="submit" name="PlayerType" value="SpyMaster" class="btn btn-info">GO</button>
            </p>
            <p>
                En tant qu'agent, celui qui découvre les mots
                <button type="submit" name="PlayerType" value="Agent" class="btn btn-info">GO</button>
            </p>
        </form>
    </div>
</div>