.cn-card-line{

}
.cn-card-container{
    /*border-width: 1px; */
    /*border-style: solid; */
    /*border-color: red*/
}

.cn-card
{
    width: 200px;
    height: 120px;
    background-image: url("/Content/Images/Card.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
}
.cn-card span
{
    display: block;
    width: 100% ;
    text-transform: uppercase;
}

.cn-card span.main
{
    padding: 15px 0 0 18px;
    font-weight: bold;
    font-size: 19px;
}

.cn-card span.flip
{
    padding: 0 0 38px 66px;
    text-transform: uppercase;
    font-weight: bold;
    color: #a59d9c;
    font-size: 15px;
}

.flip
{
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.cn-key-container
{
    width: 200px;
    height: 200px;
}

.cn-key-container.blue
{
    background-image: url('/Content/Images/key-blue.png')
}

.cn-key-container.red
{
    background-image: url('/Content/Images/key-red.png')
}

.cn-key-line
{
    width: 143px;
    height:29px;
    position:relative;
    top: 31px;
    left: 31px;
}

.key-dot
{
    height:28px;
    border: black 1px solid;
}