.cn-header{
    font-weight: bold;
    width:300px;
    text-align: center;
    margin: 0 auto; border: 3px solid black;
    box-shadow: 7px 10px #888888;
}

.cn-header-code{
    height:100px;
    font-size: 100px;
    background-color: #fff;
    color: #000;
}

.cn-header-code span
{
    margin-top: -33px;
    display: block;
}

.cn-header-name{
    height:86px;
    font-size: 80px;
    background-color: #000;
    color: #fff;
}

.cn-header-name span
{
    margin-top: -27px;
    display: block;
}


.cn-card-line{

}
.cn-card-container{
    
}

.cn-word-card-container
{
    height:120px;
    overflow: hidden;
}

.cn-word-card
{
    width: 200px;
    height: 120px;
    background-image: url("/Content/Images/Card.png");
    background-repeat: space;
    background-position: top left;
    background-size: 100%;
    border-radius: 9px;
}

.cn-word-card.hint-blue
{
    background-image: url("/Content/Images/card-blue.png");
}

.cn-word-card.hint-red
{
    background-image: url("/Content/Images/card-red.png");
}

.cn-word-card.hint-black
{
    background-image: url("/Content/Images/card-black.png");
}

.cn-new-card{
    position: absolute;
    margin-top:-120px;
    opacity: 0;
}

.cn-word-card a {
    text-decoration: none;
    color: black;
}

.cn-word-card a:hover {
    text-decoration: none;
}

.cn-word-card span
{
    display: block;
    width: 100% ;
    text-transform: uppercase;
}

.cn-word-card span.main
{
    padding: 15px 0 0 18px;
    font-weight: bold;
    font-size: 19px;
}

.cn-word-card span.flip
{
    padding: 0 0 38px 66px;
    text-transform: uppercase;
    font-weight: bold;
    color: #a59d9c;
    font-size: 15px;
}

.flip
{
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.cn-key-container
{
    width: 200px;
    height: 200px;
}

.cn-key-container.blue
{
    background-image: url('/Content/Images/key-blue.png')
}

.cn-key-container.red
{
    background-image: url('/Content/Images/key-red.png')
}

.cn-key-line
{
    width: 143px;
    height:29px;
    position:relative;
    top: 31px;
    left: 31px;
}

.key-dot
{
    height:28px;
    border: black 1px solid;
}

.new-card{
    position: absolute;
    top: 0px;
    opacity: 0;
}

.cn-cards-count .cn-count
{
    font-weight: bold;
    font-size: 26px;
}

.cn-cards-count .cn-count img
{
    width: 100px;
    height: 60px;
    border-radius: 5px;
}


.cn-spy-master-toolbar span{
    font-weight: bold;
}

.cn-spy-master-toolbar.red-turn
{
    background-color: #ff4e31;
    transition: background-color 2s ease;
}
.cn-spy-master-toolbar.red-turn button
{
    background-color: #a13d2d;
    color: #fff;
    border-color: #582118;
    transition: background-color 2s ease;
}
.cn-spy-master-toolbar.red-turn button:hover
{
    background-color: #7d281a;
    transition: background-color 0.5s ease;
}


.cn-spy-master-toolbar.blue-turn
{
    background-color: #698AEA;
    transition: background-color 2s ease;
}
.cn-spy-master-toolbar.blue-turn button
{
    background-color: #455B99;
    color: #fff;
    border-color: #2D3B62;
    transition: background-color 2s ease;
}
.cn-spy-master-toolbar.blue-turn button:hover
{
    background-color: #2e3e6c;
    transition: background-color 0.5s ease;
}



#spyMasterMessage{
    min-width: 400px;
}

.noSpinner input::-webkit-outer-spin-button,
.noSpinner input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}
